html{
	position: relative;
}

body{
	margin-bottom: 120px;
	margin-top: 10px;
}

.jumbotron{
	height: 400px;
	background-image: url('../img/gray2.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 230px -310px;
	border: 5px solid #292e34;
	color: #eaeaea;
	overflow: hidden;
}

.jumbotron h1, .jumbotron p{
	font-family: 'Century Gothic',sans-serif;
	text-shadow: 5px 5px 10px rgba(3,3,3,1);
}

.jumbotron img {
	width: 180px;
	border: 5px solid #0ac7c5;
	box-shadow: 5px 5px 10px rgba(3,3,3,1);
}

.row p{
	font-size: 14px;
}

hr{
	width: 250px;
	border-top: 3px solid#999;
}

.about{
	font-family: 'Century Gothic',sans-serif;
	min-height: 450px;
}

.about p{
	text-indent: 20px;
}

.kasus {
	font-family: 'Century Gothic',sans-serif;
	min-height: 300px;
	background-color: #eee;
}

.kasus p{
	text-indent: 20px;
}

.latar {
	font-family: 'Century Gothic',sans-serif;
	min-height: 300px;
}

.latar p{
	text-indent: 20px;
}

.rumus{
	font-family: 'Century Gothic',sans-serif;
	min-height: 300px;
	background-color: #eee;
}


.perkembangan{
	font-family: 'Century Gothic',sans-serif;
	min-height: 500px;
}

.pembahasan{
	font-family: 'Century Gothic',sans-serif;
	min-height: 1500px;
		background-color: #eee;
}

.pembahasan img{
	float: left;
}

.pembahasan h3{
	padding-top: 40px;
	padding-bottom: 20px;
}

.pembahasan p{
	padding-top: 5px;
}

.tragedi{
	font-family: 'Century Gothic',sans-serif;
	min-height: 1000px;
}

.tragedi img{
	float: left;
}

.tragedi h3{
	padding-top: 10px;
	padding-bottom: 10px;
}

.portfolio{
		background-color: #eee;
}
.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 1s;
}

.portfolio img{
	filter: grayscale(100%);
	transition: 1s;
}

.portfolio img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

.portfolio .thumbnail.muncul{
	opacity: 1;
	transform: translate(0, 0);
}

.contact {
	min-height: 800px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height:120px;
	background-color: #333;
	padding-top: 30px;
}
footer p{
	color:#aaa;
	font-size: 1em;
}

footer p i {
	color: salmon;
}




/*.pkiri, .pkanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(20deg);
	transition: 1s;
}

.pkanan{
	transform: translate(50px, 0) rotate(-20deg);
}

.pkiri.pmuncul, .pkanan.pmuncul {
	opacity: 1;
	transform: translate(0,0);
}*/